* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: black;
}

/* Header/Titulo */
.header {
  padding: 30px;
  text-align: center;
  background-image: radial-gradient(rgb(35, 57, 33), black, black);
}

.header h1 {
  font-size: 50px;
  color: white;
}

/* estilo de navbar */
.topnav {
  overflow: hidden;
  background-color: black;
}

/* Aplicar estilo a los enlaces de topnav */
.topnav a {
  float: left;
  display: block;
  color:whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Cambiar de color al pasar el mouse */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* Crea dos columnas desiguales que floten una al lado de la otra. */
/* Left column */
.leftcolumn {   
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
}

/* Right column */
.rightcolumn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 25%;
  background-color: #d4d2d2;
  background: black;
}

/* Fake image */
.fakeimg {
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 5rem;
  box-shadow: 0px 0px 30px rgb(207, 212, 179);
}

img{
  border: none;
}

.redes img {
  width: 15%;
}

#detalles{
  display: none;
}

.timepage{
  text-align:center;
  width:150px;
  font-size:40px;
  border:1px solid #56aaf3;
  padding:6px;
  margin:12px 0 12px 0;
}


/* Agregar un efecto */
.card {
  color: rgb(2, 2, 19);
  background-color: black;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5rem;
}

.info{
  width: 100%;
  text-align: justify;
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
}

.info > *{
  margin: 10px;
}


/* Footer */
.footer {
  padding: 5px 20px;
  text-align: center;
  margin-top: 20px;
}

.pie{
    font-size: x-small;
    background-image: radial-gradient(rgb(35, 57, 33), black, black);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resumen{
    text-align: justify;
    padding: 1rem;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

#correoVacio,#correoLleno{
  font-size: small;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.temporal{
  padding: 10px;
  text-align:center;
  background: rgb(163, 224, 103);
  border-style: dotted;
}

ul li {
  list-style-type: none;
}

.portada{
  width: 100%;
  height: auto;
}
.cerrar{
  float: right;
}

.redes{
  font-size: x-large;
  text-decoration: none;
}

.item{
  padding: 5px;
  display: flex;
  justify-content: center;
}

.mifoto{
  width: 15%; 
  border-radius: 50%;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
textarea{
  margin: 4px;
}

/*tablas*/
table {
  padding: 5%;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border-bottom: 2px solid #ddd;
  padding: 15px;
  text-align: left;
}

.iconCard{
  height: 6vh;
  width: 6vh;
  margin: 1%;
  border-style: none;
}

.titulaCard{
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
}

iframe{
  width: 75%;
  height: auto;
  margin-left: 9%;
  border-radius: 1rem;
}

.certificaciones{
  padding: 1rem;
}